<!DOCTYPE html>
<html>
  <head>
    <title>Information</title>
    <style>
      body {
        font-size: 17px;
        text-align: center;
      }
      h1 {
        font-size: 26px;
      }
      h2 {
        font-size: 22px;
      }
      p.created {
        font-size: 14px;
        font-style: italic;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <h1>The Palenque Code</h1>
    <h2>PalenqueLayout</h2>
    <p>This application is part of the Palenque Code project.</p>
    <p>For more information about the project, please visit
      <a href="http://akusius.github.io/palenque/">its page</a> on the Internet.
    </p>
    <p>The source repository and the latest release of this application can be found on
      <a href="https://github.com/akusius/palenquelayout/">GitHub</a>.</p>
    <p class="created">Created by: Akusius (Bujdosó Ákos)</p>
  </body>
</html>
